@import 'bootstrap_config/responsive.scss'; //Core bootstrap responsive components

@mixin screen-size($size) {
	@if $size == small {
		@media (max-width: 480px) {
			@content;
		}
	}

	@else if $size == medium {
		@media (max-width: 767px) {
			@content;
		}
	}

	@else {
		@warn "The screen-size mixin supports: small and medium";
	}
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	.navbar .container {
		width: 724px;
	}
}


// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 767px) {
	.pagination {
		height: auto;
	}
	footer {
		.nav {
			float: none;
		}
		.socialLinks {
			float: none;
			a {
				display: block;
				margin-left: 0;
			}
		}
	}
}
