@import '../responsive';

.blog-member-details {

    .profile-image {
        float: right;
        margin-top: 24px;
        overflow: hidden;
        text-align: right;

        // Move the image to the left when columns are stacked.
        @include screen-size(small) {
            width: 100%;

            img {
                margin: auto;
                display: block;
            }
        }
    }

    .profile-summary {
        float: left;
    }
}
